In [3]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns
import plotly.express as px
import datetime as dt

##  THE DATASETS ARE IMPORTED AND EXPLORATORY DATA ANALYSIS IS PERFORMED

In [4]:
customer_demographic_data = pd.read_excel("/Users/admin/Desktop/Data Analyst - Scientist Career/Data Science - Analytics/KPMG Data Analytics Internship/CustomerDemographic.xlsx")

In [5]:
transactions_data = pd.read_excel("/Users/admin/Desktop/Data Analyst - Scientist Career/Data Science - Analytics/KPMG Data Analytics Internship/Transactions.xlsx")

In [6]:
customer_address_data = pd.read_excel("/Users/admin/Desktop/Data Analyst - Scientist Career/Data Science - Analytics/KPMG Data Analytics Internship/CustomerAddress.xlsx")

In [7]:
NewCustomerList = pd.read_excel("/Users/admin/Desktop/Data Analyst - Scientist Career/Data Science - Analytics/KPMG Data Analytics Internship/NewCustomerList.xlsx")

/var/folders/wx/7dmr67zx5b3cbyb9xt2zx31w0000gn/T/ipykernel_4286/362613366.py:1: FutureWarning: Inferring datetime64[ns] from data containing strings is deprecated and will be removed in a future version. To retain the old behavior explicitly pass Series(data, dtype=datetime64[ns])
  NewCustomerList = pd.read_excel("/Users/admin/Desktop/Data Analyst - Scientist Career/Data Science - Analytics/KPMG Data Analytics Internship/NewCustomerList.xlsx")

## DATA MERGING IS PERFORMED ON THE DATASETS

Data is merged based on the customer_Id in the master data set which is the customer_demographic_data

In [8]:
df_merged = pd.merge(customer_demographic_data, transactions_data, on='customer_id')
df1= pd.merge(df_merged, customer_address_data, on='customer_id')
df1.head(5)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,...,product_class,product_size,list_price,standard_cost,product_first_sold_date,address,postcode,state,country,property_valuation
0,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,...,medium,medium,235.63,125.07,38482.0,060 Morning Avenue,2016,New South Wales,Australia,10
1,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,...,medium,medium,230.91,173.18,37337.0,060 Morning Avenue,2016,New South Wales,Australia,10
2,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,...,medium,medium,742.54,667.40,37838.0,060 Morning Avenue,2016,New South Wales,Australia,10
3,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,...,medium,medium,642.70,211.37,40618.0,060 Morning Avenue,2016,New South Wales,Australia,10
4,1,Laraine,Medendorp,F,93,1953-10-12 00:00:00,Executive Secretary,Health,Mass Customer,N,...,medium,medium,1538.99,829.65,33552.0,060 Morning Avenue,2016,New South Wales,Australia,10

### EXPLORATORY DATA ANALYSIS ON THE NEW DATA

In [10]:
df1.shape

(19968, 29)

### DATA CLEANING ACTIVITIES

1. All records with missing value are removed from the data.
2. The gender column is formated to make the gender types consistent throughout
3. The DOB column is formatted.

### FEATURE ENGINEERING PERFORMED
1. Transforming the age group in to young, middle-age and old

In [11]:
df1["DOB"] = pd.to_datetime(df1["DOB"])

reference_date = pd.Timestamp('2021-01-01')

# Calculate the age in days from the reference date
df1["age_days"] = (reference_date - df1["DOB"]).dt.days

bins = np.linspace(min(df1["age_days"]), max(df1["age_days"]), 4)
group_names = ["young", "middle_age", "old"]

# Cut the data into age categories
df1["age_category"] = pd.cut(df1["age_days"], bins, labels=group_names, include_lowest=True)

df1["age_category"] = df1["age_category"].astype(str)

df1 = df1.drop("age_days", axis=1)

Task:

1. Customers will be classified based on their wealth segment using certain characteristics from the data.
2. Columns that are not required will be dropped from the dataset prior to data cleaning.

In [12]:
df1.columns

Index(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title',
       'job_industry_category', 'wealth_segment', 'deceased_indicator',
       'owns_car', 'tenure', 'transaction_id', 'product_id',
       'transaction_date', 'online_order', 'order_status', 'brand',
       'product_line', 'product_class', 'product_size', 'list_price',
       'standard_cost', 'product_first_sold_date', 'address', 'postcode',
       'state', 'country', 'property_valuation', 'age_category'],
      dtype='object')

In [13]:
df2=df1.drop(['customer_id', 'first_name', 'last_name', 'gender',
       'past_3_years_bike_related_purchases', 'DOB', 'job_title', 'deceased_indicator',
       'tenure', 'transaction_id', 'product_id',
       'transaction_date', 'online_order', 'order_status', 'brand',
       'product_line', 'product_class', 'product_size', 'list_price',
       'standard_cost', 'product_first_sold_date', 'address', 'postcode',
       'country', 'property_valuation'], axis="columns")

df2

,job_industry_category,wealth_segment,owns_car,state,age_category
0,Health,Mass Customer,Yes,New South Wales,young
1,Health,Mass Customer,Yes,New South Wales,young
2,Health,Mass Customer,Yes,New South Wales,young
3,Health,Mass Customer,Yes,New South Wales,young
4,Health,Mass Customer,Yes,New South Wales,young
...,...,...,...,...,...
19963,Entertainment,Affluent Customer,No,NSW,young
19964,Entertainment,Affluent Customer,No,NSW,young
19965,Entertainment,Affluent Customer,No,NSW,young
19966,Entertainment,Affluent Customer,No,NSW,young
19967,Entertainment,Affluent Customer,No,NSW,young

In [14]:
df2.dropna(how = "any", inplace=True)

In [15]:
df2.shape

(16746, 5)

In [16]:
df2["job_industry_category"].unique()

array(['Health', 'Financial Services', 'IT', 'Retail', 'Argiculture',
       'Property', 'Manufacturing', 'Telecommunications', 'Entertainment'],
      dtype=object)

In [17]:
df2["state"].unique()

array(['New South Wales', 'QLD', 'VIC', 'NSW', 'Victoria'], dtype=object)

In [18]:
df2["state"].replace('New South Wales', 'NSW' ,inplace=True)
df2["state"].replace('Victoria', 'VIC', inplace=True)

In [29]:

x = pd.get_dummies(df2[['job_industry_category','state','age_category']])
x.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16746 entries, 0 to 19967
Data columns (total 16 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   job_industry_category_Argiculture         16746 non-null  uint8
 1   job_industry_category_Entertainment       16746 non-null  uint8
 2   job_industry_category_Financial Services  16746 non-null  uint8
 3   job_industry_category_Health              16746 non-null  uint8
 4   job_industry_category_IT                  16746 non-null  uint8
 5   job_industry_category_Manufacturing       16746 non-null  uint8
 6   job_industry_category_Property            16746 non-null  uint8
 7   job_industry_category_Retail              16746 non-null  uint8
 8   job_industry_category_Telecommunications  16746 non-null  uint8
 9   state_NSW                                 16746 non-null  uint8
 10  state_QLD                                 16746 non-null  uint8
 11  state_VIC                                 16746 non-null  uint8
 12  age_category_middle_age                   16746 non-null  uint8
 13  age_category_nan                          16746 non-null  uint8
 14  age_category_old                          16746 non-null  uint8
 15  age_category_young                        16746 non-null  uint8
dtypes: uint8(16)
memory usage: 392.5 KB

In [24]:
y = pd.get_dummies(df2[["wealth_segment"]])
y.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16746 entries, 0 to 19967
Data columns (total 3 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   wealth_segment_Affluent Customer  16746 non-null  uint8
 1   wealth_segment_High Net Worth     16746 non-null  uint8
 2   wealth_segment_Mass Customer      16746 non-null  uint8
dtypes: uint8(3)
memory usage: 179.9 KB

### Hypothesis: A multinomial NB model will be appropriate for the prediction of this data

## MODEL BUILDING

In [31]:
from sklearn.naive_bayes import MultinomialNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
import pandas as pd

# Assuming you have x and y defined
# Split your data into training and testing sets
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.25, random_state=42)

# Convert one-hot encoded y_train to 1D array
y_train_single = y_train.idxmax(axis=1)

# Define and train your Multinomial Naive Bayes model
classifier = MultinomialNB()
classifier.fit(x_train, y_train_single)

# Make predictions on the test set
y_pred = classifier.predict(x_test)

# Evaluate the accuracy of the model
accuracy = accuracy_score(y_test.idxmax(axis=1), y_pred)
print("Accuracy:", accuracy)

Accuracy: 0.5029854310962503